@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --primary-color: #0072ce;
  --secondary-color: #0072ce;
  --header-font: "Roboto", sans-serif;
}

@font-face {
  font-family: "Biotif";
  src: url("Biotif-Regular.woff2") format("woff2"),
    url("Biotif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  /* list-style: none; */
  /* list-style: circle; */
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}

.container {
  margin: 0 30px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

p {
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin-top: 0;
  font-family: var(--header-font);
}

.homepage > .container {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.homepage {
  /* min-height: 50vh; */
  background: rgb(19, 133, 141);
  background: linear-gradient(
    151deg,
    rgb(8, 20, 36) 20%,
    rgb(17, 39, 68) 60%,
    rgb(17, 43, 77) 90%
  );
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-text {
  color: white;
  font-size: 2.5rem;
  margin: 1rem 0;
}

.header__navigation .navigation__nav-item {
  position: relative;
  margin-right: 2rem;
}

.header__navigation .navigation__nav-item:last-of-type {
  margin-right: 0;
}

.header__navigation .navigation__link {
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 100; */
  letter-spacing: 0.05rem;
  color: white;
  cursor: pointer;
}

.homepage__main {
  position: relative;
  padding: 8rem 0 6rem 0;
}

.homepage__main h2 {
  /* display: inline-block; */
  font-size: 3.5rem;
  color: white;
  margin: 0;
}

.homepage__main h4 {
  color: rgb(196, 196, 196);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.homepage__main h2 > span {
  display: inline-block;
  animation: typing 1.2s infinite linear;
}

@keyframes typing {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

p {
  line-height: 1.5rem;
}

.homepage-image-wrapper {
  display: none;
  /* position: absolute; */
}

.homepage__image {
  /* display: none; */
  /* position: relative; */
  /* width: 100%; */
}

@media (min-width: 768px) {
  .header__logo-text {
    font-size: 3rem;
    /* margin: 1rem 0; */
  }
  .homepage-image-wrapper {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  .homepage__image {
    /* display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); */
    width: 400px;
  }

  .homepage__main {
    padding: 15rem 0;
  }

  .homepage__main h2 {
    max-width: 50%;
  }

  .link-underline {
    position: absolute;
    margin-top: 0.5rem;
    height: 3px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
  }

  .navigation__nav-item:hover .link-underline {
    transform: scaleX(1);
  }
}

@media (min-width: 992px) {
  .homepage__main h2 {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .homepage__main h2 {
    max-width: 80%;
  }
}

/* ABOUT */

.about {
  padding: 2.5rem 0;
}

.about > .container {
  display: flex;
  flex-wrap: wrap;
}

.about-block.picture,
.about-block.description {
  width: 100%;
}

.about-block.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.about-block.description {
  padding: 0;
}

.about-block.description h2 {
  font-size: 2.1875rem;
  color: hsl(214, 60%, 17%);
}
.about-block.description p {
  font-size: 1.125rem;
  color: hsl(253, 7%, 41%);
  line-height: 2rem;
}

.about-picture {
  /* object-fit: cover;
  width: 100%;
  max-width: 320px;
  max-height: 320px;
  border-radius: 50%;
  object-position: 0 -20px; */
  padding-top: 100%;
  background-image: url("../img/about-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .about {
    padding: 3.5rem 0;
  }

  .about-block.picture {
    padding: 0 2rem;
    width: 40%;
  }

  .about-block.description {
    padding: 0 2rem;
    width: 60%;
  }

  .about-picture {
    /* min-height: 300px;
    min-width: 300px;
    max-width: 450px;
    max-height: 450px; */
  }
}

/* Services */

.services {
  padding: 2.5rem 0;
  /* background-color: hsl(0, 0%, 97%); */
  background-color: hsl(0, 0%, 93%);
}

.services__title {
  margin-top: 0;
  font-size: 2.1875rem;
  color: hsl(214, 60%, 17%);
  text-align: center;
  /* letter-spacing: 1px; */
}

.full-service {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  z-index: 6;
  background-color: hsl(0, 0%, 97%);
  /* background-color:  hsl(0, 0%, 93%); */
  /* box-shadow: hsla(0, 2%, 12%, 0.103) 0px 48px 100px 0px; */
}

.full-service__wrapper {
  position: relative;
  z-index: 5;
}

/* .full-service__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(17, 39, 68);
  background: linear-gradient(
    151deg,
    rgb(8, 20, 36) 20%,
    rgb(17, 39, 68) 60%,
    rgb(17, 43, 77) 90%
  );
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 3;
} */

.full-service__wrapper:nth-child(2)::before {
  transform: translate(-20px, 20px);
}

.full-service__wrapper:nth-child(3)::before {
  transform: translate(20px, -20px);
}
.full-service__wrapper:nth-child(4)::before {
  transform: translate(-20px, -20px);
}

.full-service__wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.full-service__front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.full-service__icon-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.full-service__icon {
  /* width: 100%; */
  /* font-size: 10rem; */
}

.full-service__description {
  padding-top: 2rem;
  width: 100%;
}

.full-service h2,
.fa-code,
.fa-wordpress,
.fa-tools {
  color: hsl(214, 60%, 17%);
  /* background: rgb(17, 39, 68); */
}

.full-service p,
.full-service li {
  color: hsl(253, 7%, 41%);
}

.full-service__description h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.1875rem;
}

.full-service__description p {
  margin-top: 0;
  font-size: 1.125rem;
}

.full-service__description li {
  display: block;
  font-size: 1.125rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.fas.fa-code {
  position: relative;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .services {
    padding: 3.5rem 0;
  }

  .full-service__front {
    width: 25%;
  }

  .full-service__description {
    padding: 1rem 1rem 0 1rem;
    width: 70%;
  }

  .full-service__wrapper:nth-child(2n) .full-service {
    flex-direction: row-reverse;
  }
}

/* the-process */

.the-process {
  padding: 3rem 0 3rem 0;
  /* background-color: hsl(0, 0%, 95%); */
  /* background-color: black; */
  background-color: hsl(214, 60%, 17%);
}

.the-process__grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.the-process__inner {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(43, 42, 42); */
}

.the-process h2 {
  font-size: 2.1875rem;
}
.the-process h2,
.the-process h3,
.the-process p {
  color: #ffffff;
}

.the-process h3 {
  font-size: 2.1875rem;
  margin-bottom: 1rem;
}

.the-process p {
  margin-top: 0;
  font-size: 1.125rem;
  /* color: #656270; */
  line-height: 2rem;
}

.the-process__inner button {
  display: inline-block;
  position: relative;
  background-color: hsl(207, 89%, 31%);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 100;
  font-family: var(--header-font);
  /* letter-spacing: 2px; */
  cursor: pointer;
  outline: none;
  border: none;
}

.the-process__inner button:hover .click-me {
  animation: click 1s infinite ease-out;
}

.click-me {
  display: inline-block;
}

@keyframes click {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

@media (min-width: 768px) {
  .the-process {
    padding: 3.5rem 0 3.5rem 0;
  }
  .the-process__grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
/* contact-form */

.contact-section {
  padding: 3rem 0;
}

.contact-section__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contact-section__details {
  width: 100%;
}

.contact-section__details p {
  font-size: 1.125rem;
}

.contact-section__form {
  position: relative;
  width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form label {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
}

.contact-form input {
  margin-bottom: 0.7rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border: 2px solid hsl(214, 60%, 17%);
  border-radius: 0px;
  background-color: hsl(0, 0%, 97%);
  transition: border-radius border-width 0.4s linear;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-radius: 5px;
  border-width: 4px;
}

.contact-form input::selection,
.contact-form textarea::selection {
  /* outline: hsl(214, 60%, 17%) solid 20px; */
  /* outline: 10px solid hsl(214, 60%, 17%); */
}
.contact-form label {
  margin-bottom: 0.25rem;
}

.contact-form textarea {
  resize: none;
}

.contact-form button,
.contact-form input[type="submit"] {
  display: block;
  position: relative;
  padding: 1rem 2rem;
  color: #fff;
  background-color: hsl(214, 60%, 17%);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-variant: small-caps;
  transform: scale(1);
  transition: transform 0.4s linear, background-color 0.4s linear;
  /* filter: hue-rotate(2); */
}

@keyframes buttonClick {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
}

.contact-form input:disabled {
  cursor: wait;
  background-color: green;
}

.contact-form input[type="submit"].button-click {
  animation: buttonClick 0.3s ease forwards;
  /* filter: grayscale(); */
  /* transform: scale(1.01); */
}

.contact-section__media {
}

.contact-section__media li {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
}

.contact-section__media a {
  text-decoration: none;
  color: hsl(214, 60%, 17%);
}

.contact-section__media i.fab {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.contact-section__media span {
  position: absolute;
  font-size: 1.125rem;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes loading-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading-spinner-wrapper {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}

.loading-spinner {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  border: 3px solid hsl(214, 60%, 17%);
  border-color: hsl(214, 60%, 17%) transparent hsl(214, 60%, 17%) transparent;
  transform: rotate(0deg);
  border-radius: 50%;
  animation: loading-spinning 1.3s infinite linear;
}

@media (min-width: 768px) {
  .contact-section {
    padding: 3.5rem 0;
  }

  .contact-section__details {
    width: 50%;
  }

  .contact-section__form {
    width: 50%;
  }
}

/* footer */

.footer {
  background-color: #e2dcdc;
}

.footer h4,
.footer li {
  font-size: 1.125rem;
}

.footer h4 {
  margin: 1rem 0;
  font-weight: 300;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.footer .fab {
  color: rgb(43, 42, 42);
  font-size: 2rem;
}

.footer-media__item {
  margin-right: 0.5rem;
}

.footer-media__item:last-of-type {
  margin-right: 0;
}
