@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --primary-color: #0072ce;
  --secondary-color: #0072ce;
  --header-font: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}

.container {
  margin: 0 30px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--header-font);
}

.homepage > .container {
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.homepage {
  /* min-height: 50vh; */
  background: rgb(19, 133, 141);
  background: linear-gradient(
    151deg,
    rgb(8, 20, 36) 20%,
    rgb(17, 39, 68) 60%,
    rgb(17, 43, 77) 90%
  );
}

.header__navigation {
  /* padding-top: 0.5rem; */
}

.header__logo-text {
  color: white;
  font-size: 1.5rem;
}

.header__navigation .navigation__nav-item {
  position:relative;
  margin-right: 2rem;
}

.header__navigation .navigation__nav-item:last-of-type {
  margin-right: 0;
}

.header__navigation .navigation__link {
  text-decoration: none;
  font-size: 20px;
  /* font-weight: 100; */
  letter-spacing: 0.05rem;
  color: white;
  cursor: pointer;
}

.homepage__main {
  position: relative;
  padding: 5rem 0 2rem 0
}

.homepage__main h2 {
  /* display: inline-block; */
  font-size: 4rem;
  color: white;
  margin: 0;
}


.homepage__main h4 {
  color: rgb(196, 196, 196);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}


.homepage__main h2 > span {
  display: inline-block;
  animation: typing 1.2s infinite linear;
}

@keyframes typing {
  0%,100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

p {
  line-height: 1.5rem;
}



.homepage__image {
  display: none;
  position: relative;
  width: 100%;
}

.header__logo-text {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .header__logo-text {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homepage__image {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 400px;
  }

  .homepage__main{
    padding: 15rem 0;
  }
  
  .homepage__main h2 {
    max-width: 50%;
  }

  .link-underline {
    position: absolute;
    margin-top: 0.5rem;
    height: 3px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
  }

  .navigation__nav-item:hover .link-underline {
    transform: scaleX(1);
  }
}

@media (min-width: 992px) {
  .homepage__main h2 {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .homepage__main h2 {
    max-width: 80%;
  }
}


/* ABOUT */


.about>.container{
  display: flex;

}

.about-block{
  width: 100%;
  
}

.about-picture{

  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;

}



@media (min-width: 768px) {


  .about-block{
    width: 50%;
  }


  .about-picture{

    
    /* height: 300px; */
  }
  
}


















/* main-content */
.main-content__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap:2rem;
  padding: 3rem 0;
}

.main-content__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(43, 42, 42);
}

.main-content__inner button {
  display: inline-block;
  position: relative;
  background-color: rgb(9, 86, 150);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 100;
  font-family: var(--header-font);
  /* letter-spacing: 2px; */
  cursor: pointer;
  outline: none;
  border: none;
}


.main-content__inner button:hover .click-me {
  animation: click 1s infinite ease-out;
}

.click-me {
  display: inline-block;
}

@keyframes click {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

@media (min-width: 768px) {
  .main-content__grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    padding: 7rem 0;
  }
}

/* display-wrapper */

.main-content__display > .container {
  height: inherit;
}

.main-content__display {
  position: relative;
  max-height: 500px;
  background-color: #0072ce;
  transition: height 0.6s ease-in;
}
.main-content__display.show {
  overflow: hidden;
  /* height: 300px; */
  animation: openDisplay 1s ease-in;
  /* animation-delay: 0.2s; */
}

.display-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  width: 100%;
  height: 0;
  transition: height 0.6s ease-in;
  /* transform: scale(1); */
  /* transition: height 1s ease-in; */
  /* animation: showDisplay 0.5; */
}

.display-wrapper.show {
  /* height: auto; */

  animation: showDisplay 0.1s ease-in forwards;
  animation-delay: 1s;
}

.display-item {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.display-item.fade {
  animation: fadeOut 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

.display-wrapper[data-displaying="true"] {
  background-color: red;
}

.display-item__content {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  /* width: 100%; */
  /* justify-content: center;
  align-items: center; */
}

.display-item__content div{
  width: 50%;
  padding: 5rem 0;
}




.close-display {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: black;
}

@keyframes showItem {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes openDisplay {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}

/* footer */

.footer {
  background-color: #e2dcdc;
}

.footer h4 {
  font-weight: 300;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.fab {
  color: rgb(43, 42, 42);
  font-size: 2rem;
}

.footer-media__item {
  margin-right: 0.5rem;
}

.footer-media__item:last-of-type {
  margin-right: 0;
}
